{% extends "layout.html" %}

{% block pagestyles %}
    <link href="{{ url_for('static', filename='dist/css/home.min.css') }}" rel="stylesheet" type="text/css"></link>

{% endblock %}
{% block nav %}
    {% include "navbar.html" %}
{% endblock %}
{% block content %}
    <div id="about" class="page">
        <div class="content">
            <div class="header">
                <div class="title">
                    About Me
                </div>
                <div class="text">
                    <span class="bolded">Hello, My name is Laud William.</span>
                    I am currently a junior<br> at Hartwick College,
                    With experience in <span class="bolded">Web, <br> Gaming and Backend Development.</span>
                </div>
                <div class="links">
                    <a>
                        <span class="icon la la-download"></span>
                        <p>Download CV</p>
                    </a>
                    <a>
                        <span class="icon la la-github"></span>
                    </a>
                    <a>
                        <span class="icon la la-stack-overflow"></span>
                    </a>
                    <a>
                        <span class="icon la la-youtube"></span>
                    </a>
                </div>
            </div>
            <div class="services"></div>
            <div class="facts"></div>
        </div>
        <div class="img"
             style="background-image: url({{ url_for('home_bp.static', filename='images/saitama_hero_for_fun.png') }});"></div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='dist/js/home.min.js') }}" type="text/javascript" rel="script"></script>
{% endblock %}
