<div id="navbar" class="header">
    <div class="logo">
        <a>
            <p>L</p>
            <p>W</p>
        </a>
    </div>
    <div class="menu">
        <a>
            <span class="icon la la-home"></span>
            <span class="link">Home</span>
        </a>
        <a>
            <span class="icon la la-user"></span>
            <span class="link">About</span>
        </a>
        <a>
            <span class="icon la la-gear"></span>
            <span class="link">Resume</span>
        </a>
        <a>
            <span class="icon la la-newspaper-o"></span>
            <span class="link">Blog</span>
        </a>
        <a>
            <span class="icon la la-eye"></span>
            <span class="link">Portfolio</span>
        </a>
        <a>
            <span class="icon la la-envelope"></span>
            <span class="link">Contact</span>
        </a>
    </div>
    <div class="social">
        <a>
            <span class="icon la la-github"></span>
        </a>
        <a>
            <span class="icon la la-youtube"></span>
        </a>
    </div>
</div>